language: r
cache: packages

addons:
  apt:
    packages:
    - libxml2-dev
    - libgsl-dev
    - r-cran-rjava


before_install:
  - Rscript -e 'install.packages("rmarkdown")'
  - Rscript -e 'install.packages("rJava")'

r_packages:
  - tm
  - rJava
  - covr
  - rmarkdown
  - webshot

r_github_packages:
  - r-lib/covr

warnings_are_errors: false

notifications:
  email:
  on_success: change
  on_failure: change

after_success:
  - Rscript -e 'covr::codecov(type = "all", token = "4134fe76-a5d7-40ae-9e5f-3dedba1eabc5")'
